@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 13px;
  border-radius: 500px;
  overflow: hidden;
  background: #ffffff;
  color: ghostwhite;
  border: 2px solid #ffffffba;
 }
 
 .nav-button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .nav-button:hover span {
  color: #0025ff;
 }
 
 .nav-button::before,
 .nav-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .nav-button::before {
  content: "";
  background: #0025ff;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 .nav-button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 .nav-img{
  opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }

 @keyframes bounceOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(.80);
    transform: scale(.80);
  }
  99% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
 
  100% {
    opacity: 1;
  }
}
.nav-img:hover {
  animation: bounceOut 0.5s  linear infinite;
}

.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #ffffff;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  width: 29.492vw;
        height: 7.520vw;
        font-size: 3.418vw;
}

.btn-12 span {
  color: black;
  z-index: 10;
  position: relative;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #0025ff 25%,
    transparent 0,
    transparent 50%,
    #0025ff 0,
    #0025ff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #0025ff 0,
    #0025ff 50%,
    transparent 0,
    transparent 75%,
    #0025ff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}
.btn-12 span:hover{
  color: #ffffff;
}



.cherry-img:hover {
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0 4px 8px 0 rgb(0 35 255), 0 6px 20px 0 rgb(12 0 255);
  border-radius: 25px;
}

.cherry-btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.cherry-btn:hover {
  transform: scale(1.05);
  background-color: #0025ff;
  color: #fff;
}

.cherry-btn:hover + .cherry-img,
.cherry-btn:hover ~ .cherry-img {
  box-shadow: 0 4px 8px 0 rgb(0 35 255), 0 6px 20px 0 rgb(12 0 255);
}

.social-item::after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: block;
  width: 2rem;
  height: 2rem;
  opacity: .9;
  transition: transform 0.3s ease-in-out;
}

.social-item.instagram-link::after {
  background: url('https://www.pepsi.com/en-us/refresh082123/images/social/icon-instagram.svg') no-repeat 0 0;
}

.social-item.x-link::after {
  background: url('https://www.pepsi.com/en-us/refresh082123/images/social/icon-x.svg') no-repeat 0 0;
}

.social-item.facebook-link::after {
  background: url('https://www.pepsi.com/en-us/refresh082123/images/social/icon-facebook.svg') no-repeat 0 0;
}

.social-item.youtube-link::after {
  background: url('https://www.pepsi.com/en-us/refresh082123/images/social/icon-youtube.svg') no-repeat 0 0;
}

.social-item.tiktok-link::after {
  background: url('https://www.pepsi.com/en-us/refresh082123/images/social/icon-tiktok.svg') no-repeat 0 0;
}

.social-item.thread-link::after {
  background: url('https://www.pepsi.com/en-us/refresh082123/images/social/icon-threads.svg') no-repeat 0 0;
}

.social-item {
  overflow: hidden;
  position: relative;
}

.social__item-image {
  transition: all .5s cubic-bezier(.1,1.05,.55,1.49);
  transform-origin: center;
}

.social-item:hover .instagram-icon {
  filter: brightness(.6);
  transform: scale(1.15) rotate(5deg);
}

.social-item:hover .twitter-icon {
  filter: brightness(.6);
  transform: scale(1.15) rotate(5deg);
}

.social-item:hover .facebook-icon {
  filter: brightness(.6);
  transform: scale(1.15) rotate(5deg);
}

.social-item:hover .youtube-icon {
  filter: brightness(.6);
  transform: scale(1.15) rotate(5deg);
}

.social-item:hover .tiktok-icon {
  filter: brightness(.6);
  transform: scale(1.15) rotate(5deg);
}

.social-item:hover .threads-icon {
  filter: brightness(.6);
  transform: scale(1.15) rotate(5deg);
}

.footer {
  position: relative;
  width: auto;
  height: 18rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #0025ff
}

.footer,
.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.footer .footer__container {
  width: 100%;
  height: 100%;
  padding: 2.5%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.footer .footer__logo {
  display: block;
}

.footer .footer__logo_refresh {
  display: block;
  width: 101px;
  height: 101px;
}

 .footer__logo_refresh:hover,.navigation__logo:hover {
  animation: bounceOut 0.5s linear;
  animation-iteration-count: infinite;


 }

@keyframes bounceOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(.80);
    transform: scale(.80);
  }
  99% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
 
  100% {
    opacity: 1;
  }
}


.footer .footer__logo img {
  width: 100%
}

.footer .footer__logo_refresh img {
  width: 100%
}

.footer .footer__linklist-mobile_container {
  display: none;
}

.footer .footer__linklist,
.footer .footer__linklist-mobile {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  column-gap: 1rem
}

@media only screen and (min-width: 1130px) {
  .footer .footer__linklist,.footer .footer__linklist-mobile {

    -webkit-column-gap: 4rem;
    column-gap: 4rem
}

}

.footer .footer__link-item {
  font-family: "PepsiOwners", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
  font-style: normal;
  font-weight: 700;
}

.footer .footer__linklist li {
  margin-bottom: .6rem;
}

.footer .footer__link-item:hover:not(.button-large) {
  opacity: .6 !important
}

.footer .footer__button-list {
  display: none
}

.footer .footer__container-right button {
  font-size: 1rem;
  line-height: 1rem
}

.footer .footer__social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.footer .footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 3rem;
  margin: auto
}

.footer .footer__social-link img {
  width: 2rem;
  height: 2rem;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out
}

.footer .footer__social-link:hover img {
  opacity: .6 !important
}

@media (max-width:1300px) {

  .footer .footer__container-right button,
  .footer .footer__link-item {
    font-size: .875rem
  }
}

@media (max-width:1024px) {
  .footer {
    height: 60%;
    min-height: 28rem
  }

  .footer .footer__container {
    height: 25%;
    justify-content: center;

  }

  .footer .footer__container .footer__logo_refresh {
    display: none;
  }

  .footer .footer__logo {
    width: 3rem;
    height: auto
  }

  .footer .footer__logo_refresh {
    width: 3rem;
    height: auto
  }


  .footer .footer__linklist {
    display: none
  }

  .footer .footer__linklist-mobile_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    flex-direction: column;
    background-color: #000;
  }

  .footer .footer__linklist-mobile_container .footer__logo_refresh {
    padding-top: 15px;
    width: 5rem;
  }

  .footer .footer__linklist-mobile {
    -webkit-column-count: 1;
    column-count: 1;
    margin: auto;
    text-align: center
  }

  .footer .footer__button-list {
    display: block
  }

  .footer .footer__container-right {
    width: auto
  }

  .footer .footer__container-right button {
    display: none
  }

  .footer .footer__social-container {
    margin-top: auto;
    width: 10rem;
  }

  .footer .footer__social-link {
    margin: auto 2.5%
  }

  .footer .footer__social-link img {
    width: 1.875rem
  }
}

@media (max-width:600px) {
  .footer .footer__logo {
    width: 2rem;
    height: auto
  }

  .footer .footer__logo_refresh {
    width: 2rem;
    height: auto
  }

  

  .footer .footer__link-item {
    margin-bottom: 5%
  }
}

.item:hover{
  color: #0025ff;
  cursor: pointer;

}
svg{
  color: #fff;
}