@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 13px;
  border-radius: 500px;
  overflow: hidden;
  background: #ffffff;
  color: ghostwhite;
  border: 2px solid #ffffffba;
 }
 
 .nav-button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .nav-button:hover span {
  color: #0025ff;
 }
 
 .nav-button::before,
 .nav-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .nav-button::before {
  content: "";
  background: #0025ff;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 .nav-button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 .nav-img{
  opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }

 @keyframes bounceOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(.80);
    transform: scale(.80);
  }
  99% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
 
  100% {
    opacity: 1;
  }
}
.nav-img:hover {
  animation: bounceOut 0.5s  linear infinite;
}

.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #ffffff;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  width: 29.492vw;
        height: 7.520vw;
        font-size: 3.418vw;
}

.btn-12 span {
  color: black;
  z-index: 10;
  position: relative;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #0025ff 25%,
    transparent 0,
    transparent 50%,
    #0025ff 0,
    #0025ff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #0025ff 0,
    #0025ff 50%,
    transparent 0,
    transparent 75%,
    #0025ff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}
.btn-12 span:hover{
  color: #ffffff;
}



.cherry-img:hover {
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0 4px 8px 0 rgb(0 35 255), 0 6px 20px 0 rgb(12 0 255);
  border-radius: 25px;
}

.cherry-btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.cherry-btn:hover {
  transform: scale(1.05);
  background-color: #0025ff;
  color: #fff;
}

.cherry-btn:hover + .cherry-img,
.cherry-btn:hover ~ .cherry-img {
  box-shadow: 0 4px 8px 0 rgb(0 35 255), 0 6px 20px 0 rgb(12 0 255);
}
